.form-container {
    background-color: rgba(0, 0, 0, 0);
}

.field-container {
    width: 200px;
}

.dropdown-field {
    margin-top: 15px;
}

.hashtag-field, .stepper-button {
    margin-right: 15px;
}

.description-field, .citation-field, .licensing-field {
    width: 400px;
}

.tooltip {
    font-size: 14px;
}

.field-button {
    margin-bottom: 25px;
    margin-right: 10px;
}

.multiple-field {
    margin-right: 10px;
}

.file-description {
    width: 25%;
    min-width: 200px;
    margin-right: 10px;
}

.year-field {
    margin-right: 16px;
    width: 192px;
}

.month-field {
    width: 192px;
}

mat-radio-button {
    position: relative;
    top: 3px;
}

.field-container {
    margin-bottom: 0px!important;
}

h4 {
    margin-bottom: 5px;
}

.invisible {
    visibility: hidden!important;
}
