<br>Required
<br>Structure name 
<br>Molecule type (DNA, RNA, Protein/Peptide, some hybrid thereof)
<br>Application type (Structural, cancer therapy, immunotherapy, other medical, nanoelectronics, Protein scaffolding, chemical factory, crystallography)
<br>Modifications contained (AuNP, fluorophore, silica coating, dye, linkers, modified nucleotides)
<br>Date published
<br>Publication citation
<br>Publication authors
<br>Universal format structure
<br>Keywords/Tags (e.g. DNA nanotechnology, synthetic biology, BIOMOD competition design, molecular factory, molecular simulation, oxDNA, oxRNA, NAMD simulation, DNA origami, DNA single-stranded tiles, tile, multiorigami structure)
<br>Licensing information (e.g. any relevant patents etc) 
<br>Structure size (no of nucleotides, strands, or weight)
<br>
<br>
<br>Optional (for each optional upload, they can comment in a textbox on the contents of the file)
<br>Further structure design information (sequences, CaDNAno, other formats)
<br>Simulation results (mean structure, last configuration, maybe some graphs)
<br>Experimental results (AFM/TEM images, fluorescent curves, CD curves, Cryo structures (this might be an issue because they can be huge files), gel images)
<br>Simulation protocol (e.g. input files, topology, conf, VMMC weights,...)
<br>Experimental protocol (PDF format?)
