astroid==2.8.0
bcrypt==3.2.0
cachetools==4.2.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
crossrefapi==1.5.0
cssselect==1.1.0
cssutils==2.2.0
cycler==0.10.0
elasticsearch==7.12.0
Flask==1.1.2
gunicorn==20.1.0
idna==2.10
isort==5.9.3
itsdangerous==1.1.0
Jinja2==2.11.3
kiwisolver==1.3.2
lazy-object-proxy==1.6.0
lxml==4.6.3
MarkupSafe==1.1.1
matplotlib==3.4.3
mccabe==0.6.1
numpy==1.21.2
Pillow==8.3.2
platformdirs==2.3.0
premailer==3.8.0
pycparser==2.20
pylint==2.11.1
PyMySQL==1.0.2
pymysql-pool==0.3.4
pyparsing==2.4.7
python-dateutil==2.8.2
requests==2.25.1
six==1.15.0
toml==0.10.2
typing-extensions==3.10.0.2
urllib3==1.26.4
Werkzeug==1.0.1
wrapt==1.12.1
yagmail==0.14.247
