
<div id="structure-container" *ngIf="structure">
    <div id="header">
        <h1 id="title">{{structure?.title}}</h1>
        <span id='user-name'> &nbsp;posted by {{structure.user.firstName}} {{structure.user.lastName}} on {{formatDate(structure.uploadDate)}}</span>
    </div>
    <mat-divider id="header-divider"></mat-divider><br>

    <div id="section-one">
        <div id="iframe-container">
            <iframe id="oxview-frame" name="oxview-frame" src="http://localhost:8000/" (load)="onLoadHandler()"></iframe>
        </div>
        <div id="structure-info-container">
            <p>{{structure.description}}</p>
            <p><b>Structure type: </b>{{structure.type}}</p>
            <p><b>Applications: </b>
                <mat-chip-list class="chip-list">
                    <mat-chip class="application chip" *ngFor="let application of structure.tags.applications">{{application}}</mat-chip>
                    <mat-chip class="keyword chip" *ngIf="structure.tags.applications.length === 0">None</mat-chip>
                </mat-chip-list>
            </p>
            <p><b>Modifications: </b>
                <mat-chip-list class="chip-list">
                    <mat-chip class="modification chip" *ngFor="let modification of structure.tags.modifications">{{modification}}</mat-chip>
                    <mat-chip class="keyword chip" *ngIf="structure.tags.modifications.length === 0">None</mat-chip>
                </mat-chip-list>
            </p>
            <p><b>Keywords: </b>
                <mat-chip-list class="chip-list">
                    <mat-chip class="keyword chip" *ngFor="let keyword of structure.tags.keywords">{{keyword}}</mat-chip>
                    <mat-chip class="keyword chip" *ngIf="structure.tags.keywords.length === 0">None</mat-chip>
                </mat-chip-list>
            </p>
        </div>
    </div>

    <h1>Images</h1>
    <carousel
        [height]="350"
        [objectFit]="'cover'"
        [cellWidth]="'100%'"
        [arrowsOutside]="false"
        [autoplay]="false"
        [dots]="true"
        [loop]="true"
        [arrowsTheme]="'dark'">

        <ng-container *ngFor="let image of structure.files.images, let i = index">
            <div class="carousel-cell">
                <img src="{{'file/'+structure.id+'/images/'+image.name}}">
                <div class="image-description">{{image.description}}</div>
            </div>
        </ng-container>
    </carousel>

    <div id="file-section">
        <h1>Files</h1>
        <mat-tab-group dynamicHeight>
            <mat-tab label="Structure">
                <mat-list>
                    <mat-list-item *ngFor="let file of structure.files.structure, let i = index">
                        <mat-icon mat-list-icon><a class='file-download' href="{{'file/'+structure.id+'/structure/'+file.name}}" download>download</a></mat-icon>
                        <div mat-line><a class='file-download' href="{{'file/'+structure.id+'/structure/'+file.name}}" download>{{file.name}}</a> &nbsp;<span class="file-description">{{file.description}}</span></div> 
                    </mat-list-item>
                </mat-list>
            </mat-tab>
            <mat-tab label="Experiment Protocol" *ngIf="structure.files.expProtocol[0].name != ['']">
                <mat-list>
                    <mat-list-item *ngFor="let file of structure.files.expProtocol, let i = index">
                        <mat-icon mat-list-icon><a class='file-download' href="{{'file/'+structure.id+'/expProtocol/'+file.name}}" download>download</a></mat-icon>
                        <div mat-line><a class='file-download' href="{{'file/'+structure.id+'/expProtocol/'+file.name}}" download>{{file.name}}</a> &nbsp;<span class="file-description">{{file.description}}</span></div> 
                    </mat-list-item>
                </mat-list>
            </mat-tab>
            <mat-tab label="Experiment Results" *ngIf="structure.files.expResults[0].name != ['']">
                <mat-list>
                    <mat-list-item *ngFor="let file of structure.files.expResults, let i = index">
                        <mat-icon mat-list-icon><a class='file-download' href="{{'file/'+structure.id+'/expResults/'+file.name}}" download>download</a></mat-icon>
                        <div mat-line><a class='file-download' href="{{'file/'+structure.id+'/expResults/'+file.name}}" download>{{file.name}}</a> &nbsp;<span class="file-description">{{file.description}}</span></div> 
                    </mat-list-item>
                </mat-list>
            </mat-tab>
            <mat-tab label="Simulation Protocol" *ngIf="structure.files.simProtocol[0].name != ['']">
                <mat-list>
                    <mat-list-item *ngFor="let file of structure.files.simProtocol, let i = index">
                        <mat-icon mat-list-icon><a class='file-download' href="{{'file/'+structure.id+'/simProtocol/'+file.name}}" download>download</a></mat-icon>
                        <div mat-line><a class='file-download' href="{{'file/'+structure.id+'/simProtocol/'+file.name}}" download>{{file.name}}</a> &nbsp;<span class="file-description">{{file.description}}</span></div> 
                    </mat-list-item>
                </mat-list>
            </mat-tab>
            <mat-tab label="Simulation Results" *ngIf="structure.files.simResults[0].name != ['']">
                <mat-list>
                    <mat-list-item *ngFor="let file of structure.files.simResults, let i = index">
                        <mat-icon mat-list-icon><a class='file-download' href="{{'file/'+structure.id+'/simResults/'+file.name}}" download>download</a></mat-icon>
                        <div mat-line><a class='file-download' href="{{'file/'+structure.id+'/simResults/'+file.name}}" download>{{file.name}}</a> &nbsp;<span class="file-description">{{file.description}}</span></div> 
                    </mat-list-item>
                </mat-list>
            </mat-tab>
        </mat-tab-group>
    </div>
    
    <div id="publication-section">
        <h1>Publication Information</h1>
        <p><b>Citation: </b>{{structure.publication.citation}}</p>
        <p><b>Authors: </b>{{structure.publication.authors.join(', ')}}</p>
        <p><b>Date published: </b>{{formatPublishDate(structure.publication.publishDate)}}</p>
        <p><b>Licensing information: </b>{{structure.publication.licensing}}</p>
        <p>You may access the publication <a href="{{structure.publication.link}}" target="_blank">here</a></p>

    </div>
</div>
