#structure-container {
    margin-top: 20px;
    margin-left: 15px;
    color: rgb(30, 30, 37);
}

#title {
    font-size: 46px;
    font-weight: 400;
    display: inline;
}

#title-field ::ng-deep .mat-form-field-infix {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 46px;
    font-weight: 400;
    border-top: 0;
    width: 400px;
}

.radio ::ng-deep {
    margin-left: 15px;
}

.progress-bar {
    position: absolute!important;
    bottom: 92.1%!important;
    left: 180px!important;
    z-index: 0!important;
}

#section-one {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    margin: 10px auto;
    margin-bottom: 25px;
}
#iframe-container {
    margin: auto;
    width: 100%;
    height: 100%;
}
#structure-info-container {
    flex-basis: 60%;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

#publication-section, #file-section {
    margin-top: 25px;
}

::ng-deep .file-input {
    margin-left: 20px!important;
}

::ng-deep .year {
    width: 192px!important;
    margin-left: 5px!important;
}

::ng-deep .month {
    width: 192px!important;
    margin-left: 20px!important;
}

::ng-deep .citation {
    width: 500px!important;
    margin-left: 5px!important;
}

#publication-section {
    margin-bottom: 50px;
}

.username {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.9);
}

.slide-toggle {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.9);
}

.mat-icon {
    display: inline!important;
}

.invisible {
    visibility: hidden!important;
}

#oxview-frame {
    height: 450px;
    width: 97%;
    border: 1.5px solid rgb(52, 58, 68);
    border-radius: 4px;
    box-shadow: 0 0 7px 2px rgb(190, 190, 190);
    resize: both;
    overflow: auto;
}

::ng-deep .tag-input {
    padding-bottom: 2px!important;
    border-bottom: 1px solid rgb(44, 44, 44);
    display: inline!important;
    flex: none!important;
    width: 125px!important;
}

#header-divider {
    position: relative;
    top: 10px;
}

.chip {
    font-weight: normal;
    cursor: pointer;
}

.public {
    color: rgb(0, 105, 92);
}

.editing {
    color: hsl(262, 52%, 47%);
}

::ng-deep .mat-chip-list .mat-chip-list-wrapper {
    margin-top: 0px;
    margin-bottom: 5px;
}


/* ::ng-deep .ng-tns-c64-8 {
    padding: 1px 10px 0 10px!important;
} */

.field-container {
    width: 175px;
    position: relative;
    top: 5px;
}

.ng-tns-c86-9 {
    color: black!important;
}
::ng-deep .ng-tns-c86-10 {
    color: black!important;
}
::ng-deep .mat-select {
    color: black!important;
}
/* .ng-star-inserted {
    color:black!important;
} */

carousel {
    z-index: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    margin-bottom: 25px;
    border: 1px solid rgb(43, 43, 53);
    border-radius: 5px;
    box-shadow: 0 0 8px 2px rgb(197, 197, 197);
    background-color: rgb(224, 224, 228)
}

#image-header {
    text-align: center;
}

.file-description {
    font-style: italic;
    color: rgb(103, 107, 114);
}

.image-description {
    position: relative;
    bottom: 60px;
    text-align: center;
    background: rgba(0, 0, 0, 0.75);
    padding: 4px 8px;
    font: 20px Sans-Serif;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 2px 4px 3px rgba(22, 22, 22, 0.25);
}

.description-field {
    width: 50%;
}

.file-download {
    text-decoration: none;
    color: inherit;
}

.clickable {
    cursor: pointer;
}

.application {
    background-color: rgba(136, 1, 160, 0.8);
    color: rgba(255, 255, 255, 0.9);
}

.modification {
    background-color: rgba(93, 241, 158, 0.8);
    color: rgba(0, 0, 0, 0.9);
}

.keyword {
    background-color: rgba(255, 208, 50, 0.8);
    color: rgba(0, 0, 0, 0.9);
}

