
<!-- <mat-progress-bar class='progress-bar' [ngClass]="{'invisible': !loadBar}" mode="indeterminate"></mat-progress-bar> -->
<div id="structure-container" *ngIf="structure">
    <div id="header">
        <div *ngIf="!isEditing" id="title">{{structure?.title}}</div>
        <mat-form-field *ngIf="isEditing" id="title-field"><mat-label></mat-label>
            <input appAutowidth (change)="edited()" matInput [(ngModel)]="structure.title" [placeholder]="'Structure title'">
        </mat-form-field>
        <span class="username"> &nbsp;posted by {{isAuthor ? 'you' : structure.user.firstName+' '+structure.user.lastName}} on {{formatDate(structure.uploadDate)}}&emsp;</span>
        <mat-slide-toggle #editToggle (click)="toggleEditing(isEditing)" *ngIf="isAuthor" color='primary' [checked]="isEditing" [(ngModel)]="isEditing">
            <span class="slide-toggle" [ngClass]="isEditing ? 'editing' : 'public'">{{isEditing ? 'Editing View' : 'Public View'}}&ensp;</span>
        </mat-slide-toggle>
        <button id="save-button" (click)="save()" *ngIf="isEditing" [disabled]="!hasBeenEdited" mat-raised-button color="primary">SAVE CHANGES</button>
    </div>
    <mat-divider id="header-divider"></mat-divider><br>

    <div id="section-one">
        <div id="iframe-container">
            <iframe id="oxview-frame" name="oxview-frame" src="https://sulcgroup.github.io/oxdna-viewer/" (load)="onLoadHandler()"></iframe>
        </div>
        <div id="structure-info-container">
            <p>
                <b>Description: </b>
                <span *ngIf="!isEditing">{{structure.description}}</span>
                <mat-form-field *ngIf="isEditing" class="description-field"><mat-label></mat-label>
                    <input (change)="edited()" matInput [(ngModel)]="structure.description" [placeholder]="'Description for ' + structure.title">
                </mat-form-field>
            </p>
            <p><b>Structure type: </b>
                <span *ngIf="!isEditing">{{structure.type}}</span>
                <mat-form-field *ngIf="isEditing" class="field-container" appearance="fill">
                    <mat-label>Molecule Type</mat-label>
                    <mat-select [(value)]="structure.type" (selectionChange)="edited()">
                      <mat-option value="DNA">DNA</mat-option>
                      <mat-option value="RNA">RNA</mat-option>
                      <mat-option value="DNA/RNA">DNA/RNA hybrid</mat-option>
                      <mat-option value="Nucleic acid/protein hybrid">Nucleic acid/protein hybrid</mat-option>
                      <mat-option value="Other">other</mat-option>
                    </mat-select>
                </mat-form-field>
            </p>
            <p><b>Applications: </b>
                <mat-chip-list *ngIf="!isEditing" class="chip-list">
                    <mat-chip class="application chip" (click)="routeTag(application, 'applications')" *ngFor="let application of structure.tags.applications">{{application}}</mat-chip>
                    <mat-chip class="application chip" *ngIf="structure.tags.applications.length === 0">None</mat-chip>
                </mat-chip-list>
                <mat-chip-list *ngIf="isEditing" #applicationList class="chip-list">
                    <mat-chip [removable]="removable" (removed)="removeTag(i, 'applications')" class="application chip" *ngFor="let application of structure.tags.applications;let i=index">{{application}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <mat-chip class="application chip" *ngIf="structure.tags.applications.length === 0">None</mat-chip>
                    <input matInput class="tag-input" placeholder="New application..."
                        [matChipInputFor]="applicationList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="addTag($event, 'applications')">
                </mat-chip-list>
            </p>
            <p><b>Modifications: </b>
                <mat-chip-list *ngIf="!isEditing" class="chip-list">
                    <mat-chip class="modification chip" (click)="routeTag(modification, 'modifications')" *ngFor="let modification of structure.tags.modifications">{{modification}}</mat-chip>
                    <mat-chip class="modification chip" *ngIf="structure.tags.modifications.length === 0">None</mat-chip>
                </mat-chip-list>
                <mat-chip-list *ngIf="isEditing" #modificationList class="chip-list">
                    <mat-chip [removable]="removable" (removed)="removeTag(i, 'modifications')" class="modification chip" *ngFor="let modification of structure.tags.modifications;let i=index">{{modification}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <mat-chip class="modification chip" *ngIf="structure.tags.modifications.length === 0">None</mat-chip>
                    <input matInput class="tag-input" placeholder="New modification..."
                        [matChipInputFor]="modificationList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="addTag($event, 'modifications')">
                </mat-chip-list>
            </p>
            <p><b>Keywords: </b>
                <mat-chip-list *ngIf="!isEditing" class="chip-list">
                    <mat-chip class="keyword chip" (click)="routeTag(keyword, 'keywords')" *ngFor="let keyword of structure.tags.keywords">{{keyword}}</mat-chip>
                    <mat-chip class="keyword chip" *ngIf="structure.tags.keywords.length === 0">None</mat-chip>
                </mat-chip-list>
                <mat-chip-list *ngIf="isEditing" #keywordList class="chip-list">
                    <mat-chip [removable]="removable" (removed)="removeTag(i, 'keywords')" class="keyword chip" *ngFor="let keyword of structure.tags.keywords;let i=index">{{keyword}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <mat-chip class="keyword chip" *ngIf="structure.tags.keywords.length === 0">None</mat-chip>
                    <input matInput class="tag-input" placeholder="New keyword..."
                        [matChipInputFor]="keywordList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="addTag($event, 'keywords')">
                </mat-chip-list>
            </p>
        </div>
    </div>
    <br>

    <h1 id="image-header">Images</h1>
    <carousel
        [height]="350"
        [objectFit]="'cover'"
        [cellWidth]="'100%'"
        [arrowsOutside]="false"
        [autoplay]="false"
        [dots]="true"
        [loop]="true"
        [arrowsTheme]="'dark'">
        <ng-container *ngFor="let image of structure.files.images, let i = index">
            <div class="carousel-cell">
                <img src="{{'file/'+structure.id+'/images/'+image.name}}">
                <div *ngIf="image.description" class="image-description">{{image.description}}</div>
            </div>
        </ng-container>
    </carousel>

    <div id="file-section">
        <br>
        <!-- <h1>Files</h1> -->
        <mat-tab-group dynamicHeight>
            <mat-tab label="Structure">
                <mat-list>
                    <mat-list-item *ngFor="let file of structure.files.structure, let i = index">
                        <mat-icon *ngIf="isEditing" (click)="deleteFile('structure', i)" class="editing clickable">delete</mat-icon>
                        <mat-icon mat-list-icon><a class='file-download' href="{{'file/'+structure.id+'/structure/'+file.name}}" download>download</a></mat-icon>
                        <div mat-line>
                            <a class='file-download' href="{{'file/'+structure.id+'/structure/'+file.name}}" download>{{file.name}}</a>&nbsp;
                            <span *ngIf="!isEditing" class="file-description">{{file.description}}</span>
                            <mat-form-field color="accent" *ngIf="isEditing" class="description-field"><mat-label></mat-label>
                                <input (change)="edited()" class="file-description" matInput [(ngModel)]="structure.files.structure[i].description" [placeholder]="'Description for '+file.name">
                            </mat-form-field>
                        </div>
                    </mat-list-item>
                    <mat-form-field class="file-input" *ngIf="isEditing">
                        <ngx-mat-file-input color='primary' (change)="uploadFile($event.target, 'structure')" placeholder="Add a structure file"></ngx-mat-file-input>
                        <button color='primary' mat-icon-button matSuffix><mat-icon>folder</mat-icon></button>
                    </mat-form-field>
                </mat-list>
            </mat-tab>

            <mat-tab label="Experiment Protocol">
                <mat-list>
                    <mat-list-item *ngFor="let file of structure.files.expProtocol, let i = index">
                        <mat-icon *ngIf="isEditing" (click)="deleteFile('expProtocol', i)" class="editing clickable">delete</mat-icon>
                        <mat-icon mat-list-icon><a class='file-download' href="{{'file/'+structure.id+'/expProtocol/'+file.name}}" download>download</a></mat-icon>
                        <div mat-line>
                            <a class='file-download' href="{{'file/'+structure.id+'/expProtocol/'+file.name}}" download>{{file.name}}</a>&nbsp;
                            <span *ngIf="!isEditing" class="file-description">{{file.description}}</span>
                            <mat-form-field *ngIf="isEditing" class="description-field"><mat-label></mat-label>
                                <input matInput (change)="edited()" [(ngModel)]="structure.files.expProtocol[i].description" [placeholder]="'Description for '+file.name">
                            </mat-form-field>
                        </div>
                    </mat-list-item>
                    <mat-form-field class="file-input" *ngIf="isEditing">
                        <ngx-mat-file-input color='primary' (change)="uploadFile($event.target, 'expProtocol')" placeholder="Add an Experiment Protocol file"></ngx-mat-file-input>
                        <button color='primary' mat-icon-button matSuffix><mat-icon>folder</mat-icon></button>
                    </mat-form-field>
                </mat-list>
            </mat-tab>

            <mat-tab label="Experiment Results">
                <mat-list>
                    <mat-list-item *ngFor="let file of structure.files.expResults, let i = index">
                        <mat-icon *ngIf="isEditing" (click)="deleteFile('expResults', i)" class="editing clickable">delete</mat-icon>
                        <mat-icon mat-list-icon><a class='file-download' href="{{'file/'+structure.id+'/expResults/'+file.name}}" download>download</a></mat-icon>
                        <div mat-line>
                            <a class='file-download' href="{{'file/'+structure.id+'/expResults/'+file.name}}" download>{{file.name}}</a>&nbsp;
                            <span *ngIf="!isEditing" class="file-description">{{file.description}}</span>
                            <mat-form-field *ngIf="isEditing" class="description-field"><mat-label></mat-label>
                                <input matInput (change)="edited()" [(ngModel)]="structure.files.expResults[i].description" [placeholder]="'Description for '+file.name">
                            </mat-form-field>
                        </div>
                    </mat-list-item>
                    <mat-form-field class="file-input" *ngIf="isEditing">
                        <ngx-mat-file-input color='primary' (change)="uploadFile($event.target, 'expResults')" placeholder="Add an Experiment Results file"></ngx-mat-file-input>
                        <button color='primary' mat-icon-button matSuffix><mat-icon>folder</mat-icon></button>
                    </mat-form-field>
                </mat-list>
            </mat-tab>

            <mat-tab label="Simulation Protocol">
                <mat-list>
                    <mat-list-item *ngFor="let file of structure.files.simProtocol, let i = index">
                        <mat-icon *ngIf="isEditing" (click)="deleteFile('simProtocol', i)" class="editing clickable">delete</mat-icon>
                        <mat-icon mat-list-icon><a class='file-download' href="{{'file/'+structure.id+'/simProtocol/'+file.name}}" download>download</a></mat-icon>
                        <div mat-line>
                            <a class='file-download' href="{{'file/'+structure.id+'/simProtocol/'+file.name}}" download>{{file.name}}</a>&nbsp;
                            <span *ngIf="!isEditing" class="file-description">{{file.description}}</span>
                            <mat-form-field *ngIf="isEditing" class="description-field"><mat-label></mat-label>
                                <input matInput (change)="edited()" [(ngModel)]="structure.files.simProtocol[i].description" [placeholder]="'Description for '+file.name">
                            </mat-form-field>
                        </div>
                    </mat-list-item>
                    <mat-form-field class="file-input" *ngIf="isEditing">
                        <ngx-mat-file-input color='primary' (change)="uploadFile($event.target, 'simProtocol')" placeholder="Add a Simulation Protocol file"></ngx-mat-file-input>
                        <button color='primary' mat-icon-button matSuffix><mat-icon>folder</mat-icon></button>
                    </mat-form-field>
                </mat-list>
            </mat-tab>

            <mat-tab label="Simulation Results">
                <mat-list>
                    <mat-list-item *ngFor="let file of structure.files.simResults, let i = index">
                        <mat-icon *ngIf="isEditing" (click)="deleteFile('simResults', i)" class="editing clickable">delete</mat-icon>
                        <mat-icon mat-list-icon><a class='file-download' href="{{'file/'+structure.id+'/simResults/'+file.name}}" download>download</a></mat-icon>
                        <div mat-line>
                            <a class='file-download' href="{{'file/'+structure.id+'/simResults/'+file.name}}" download>{{file.name}}</a>&nbsp;
                            <span *ngIf="!isEditing" class="file-description">{{file.description}}</span>
                            <mat-form-field *ngIf="isEditing" class="description-field"><mat-label></mat-label>
                                <input matInput (change)="edited()" [(ngModel)]="structure.files.simResults[i].description" [placeholder]="'Description for '+file.name">
                            </mat-form-field>
                        </div>
                    </mat-list-item>
                    <mat-form-field class="file-input" *ngIf="isEditing">
                        <ngx-mat-file-input color='primary' (change)="uploadFile($event.target, 'simResults')" placeholder="Add a Simulation Results file"></ngx-mat-file-input>
                        <button color='primary' mat-icon-button matSuffix><mat-icon>folder</mat-icon></button>
                    </mat-form-field>
                </mat-list>
            </mat-tab>

            <mat-tab label="Images">
                <mat-list>
                    <mat-list-item *ngFor="let file of structure.files.images, let i = index">
                        <mat-icon *ngIf="isEditing" (click)="deleteFile('images', i)" class="editing clickable">delete</mat-icon>
                        <mat-icon mat-list-icon><a class='file-download' href="{{'file/'+structure.id+'/images/'+file.name}}" download>download</a></mat-icon>
                        <div mat-line>
                            <a class='file-download' href="{{'file/'+structure.id+'/images/'+file.name}}" download>{{file.name}}</a>&nbsp;
                            <span *ngIf="!isEditing" class="file-description">{{file.description}}</span>
                            <mat-form-field *ngIf="isEditing" class="description-field"><mat-label></mat-label>
                                <input matInput (change)="edited()" [(ngModel)]="structure.files.images[i].description" [placeholder]="'Description for '+file.name">
                            </mat-form-field>
                        </div>
                    </mat-list-item>
                    <mat-form-field class="file-input" *ngIf="isEditing">
                        <ngx-mat-file-input color='primary' (change)="uploadFile($event.target, 'images')" placeholder="Add an image file"></ngx-mat-file-input>
                        <button color='primary' mat-icon-button matSuffix><mat-icon>folder</mat-icon></button>
                    </mat-form-field>
                </mat-list>
            </mat-tab>

        </mat-tab-group>
    </div>
    
    <div id="publication-section">
        <br>
        <h1>Publication Information</h1>
        <p>
            <b>Citation: </b>
            <span *ngIf="!isEditing">{{structure.publication.citation ? structure.publication.citation : 'N/A'}}</span>
            <mat-form-field *ngIf="isEditing" class="citation"><mat-label></mat-label>
                <input (change)="edited()" matInput [(ngModel)]="structure.publication.citation" placeholder="Publication citation">
            </mat-form-field>
        </p>
        
        <p>
            <b>Authors: </b>
            <span *ngIf="!isEditing">{{structure.publication.authors.length > 0 ? structure.publication.authors.join(', ') : 'N/A'}}</span>
            <mat-chip-list *ngIf="isEditing" #authorList class="chip-list">
                <mat-chip [removable]="removable" (removed)="removeTag(i, 'authors')" class="author chip" *ngFor="let author of structure.publication.authors;let i=index">{{author}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <mat-chip class="author chip" *ngIf="structure.publication.authors.length === 0">None</mat-chip>
                <input matInput class="tag-input" placeholder="New author..."
                    [matChipInputFor]="authorList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="addTag($event, 'authors')">
            </mat-chip-list>
        </p>

        <p>
            <b>Date published: </b>
            <span *ngIf="!isEditing">{{structure.publication.publishDate[0] === '0000' ? 'N/A' : formatPublishDate(structure.publication.publishDate)}}</span>
            <mat-form-field *ngIf="isEditing" class="year"><mat-label>Publication Year [YYYY]</mat-label>
                <input (change)="edited()" matInput [(ngModel)]="structure.publication.publishDate[0]">
            </mat-form-field>
            <mat-form-field *ngIf="isEditing" class="month"><mat-label>Month [MM]</mat-label>
                <input (change)="edited()" matInput [(ngModel)]="structure.publication.publishDate[1]">
            </mat-form-field>
        </p>

        <p>
            <b>Licensing information: </b>
            <span *ngIf="!isEditing">{{structure.publication.licensing ? structure.publication.licensing : 'N/A'}}</span>
            <mat-form-field *ngIf="isEditing" class="citation"><mat-label></mat-label>
                <input (change)="edited()" matInput [(ngModel)]="structure.publication.licensing" placeholder="Licensing information">
            </mat-form-field>
        </p>

        <p>
            <span *ngIf="structure.publication.link && !isEditing">You may access the publication <a href="{{structure.publication.link}}" target="_blank">here</a></span>
            <b *ngIf="isEditing">Edit publication link: </b>
            <mat-form-field *ngIf="isEditing" class="citation"><mat-label></mat-label>
                <input (change)="edited()" matInput [(ngModel)]="structure.publication.link" placeholder="Publication link">
            </mat-form-field>
        </p>
    </div>

</div>
