.structure-container {
    background-color: rgb(224, 224, 230);
    box-shadow: 0 0 7px 2px rgb(190, 190, 190);
    z-index: 0;
    margin: 20px auto 30px;
    width: 75%;
    max-width: 625px;
}

.structure-button {
    padding-left: 10px;
    padding-right: 10px;
}

:host ::ng-deep .mat-card-content {
    margin-bottom: 0!important;
}
