#sidebar-container {
    z-index: 15;
    display: inline-block;
    overflow: hidden;
    height: 100%;
    width: 100%;
    min-width: 201px;
    max-width: 251px;
    background-color: rgb(224, 224, 228);
    border-right: 1px solid rgb(165, 164, 175);
}

a {
    display: block;
    text-align: left;
    font-size: 17px;
    position: relative;
    top: 15px;
    right: 3px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    overflow: hidden;
    color: rgba(34, 18, 63, 0.878)!important;
}

.sidebar-icon {
    padding-bottom: 5px;
    color: rgba(75, 24, 161, 0.847)!important;
}

.navigation {
    display: inline;
    position: relative;
    left: 5px;
}

@media screen and (max-width: 1050px) {
    #sidebar-container {
        width: 50px;
        min-width: 50px;
    }
    .navigation {
        display: none;
    }
}



