a {
    display: block;
    text-align: left;
    font-size: calc(10px + 0.55vw);
    position: relative;
    top: 15px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    overflow: hidden;
}

@media screen and (max-width: 1130px) {
    a {
        font-size: 14px;
        padding-left: 12px;
        overflow: hidden;
    }
    .sidebar-icon {
        position: relative;
        top: 1px;
        font-size: 20px;
    }
}

.sidebar-icon {
    padding-bottom: 5px;
}

#sidebar-container {
    z-index: 15;
    display: inline-block;
    overflow: hidden;
    height: 100%;
    width: 100%;
    min-width: 160px;
    background-color: rgb(224, 224, 228);
    border-right: 1px solid rgb(165, 164, 175);
}
