<div id="sidebar-container">
    <a mat-button routerLink="/" color="primary"><mat-icon class="sidebar-icon">home</mat-icon> Homepage</a>
    <a mat-button routerLink="/upload" color="primary"><mat-icon class="sidebar-icon">publish</mat-icon> Upload Structure</a>
    <a mat-button routerLink="/profile" color="primary"><mat-icon class="sidebar-icon">person</mat-icon> Profile</a>
    <a mat-button routerLink="/about" color="primary"><mat-icon class="sidebar-icon">description</mat-icon> About</a>
</div>

