#body {
    height: 100%;
    width: 100%;
    min-width: 160px;
    display: flex;
    justify-content: space-between;
}

#sidebar {
    position: fixed;
    top: 78px;
    height: 100%;
    width: calc(15% + 1px);
    flex-shrink: 0;
}

#main  {
    margin-left: calc(15% + 6px);
    margin-top: 82px;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1130px) {
    #main {
        /* Change main div on resize */
    }
}