#body {
    height: 100%;
    width: 15%;
    min-width: 160px;
    display: flex;
    justify-content: space-between;
}

#sidebar {
    position: fixed;
    top: 78px;
    height: 100%;
    width: calc(15% + 1px);
    flex-shrink: 0;
}
#main  {
    margin-left: 102%;
    margin-top: 32%;
}