#body {
    /* height: 100%; */
    width: 100%;
    min-width: 160px;
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: hidden;
}

#sidebar {
    position: fixed;
    top: 63px;
    height: 100%;
    width: calc(15%);
    flex-shrink: 0;
}

#main  {
    margin-left: max(166px, calc(15% + 2px));
    margin-top: 70px;
    width: 100%;
    height: calc(100% - 7px);
    overflow-x: hidden;
    overflow-y: visible;
    /* overflow-y: hidden; */
}

@media screen and (max-width: 1050px) {
    #main {
        margin-left: 60px;
    }
}

.progress-bar {
    position: fixed;
    z-index: 100;
}
