#content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    margin: auto;

}
#list-container {
    margin: auto;
    width: 100%;
    height: 100%;
}
#extras-container {
    flex-basis: 50%;
    margin: 55px auto;
    width: 100%;
    height: 100%;
}

.structure-container {
    background-color: rgb(224, 224, 230);
    box-shadow: 0 0 7px 2px rgb(190, 190, 190);
    z-index: 0;
    margin: 20px auto 30px;
    width: 75%;
    max-width: 625px;
}

.structure-button {
    padding-left: 10px;
    padding-right: 10px;
}

#message {
    font-weight: 500;
    font-size: 18px;
    margin-left: 15px;
    margin-top: 15px;
}

:host ::ng-deep .mat-card-content {
    margin-bottom: 0!important;
}

.display-image {
    border: 1px solid rgb(178, 183, 196);
    border-left: 0px;
    border-right: 0px;
}

.poster {
    margin-left: auto;
    font-size: 13px;
    opacity: 80%;
}

.box {
    width: 65%;
    /* height: 175px; */
    margin-left: 20px;
    margin-bottom: 40px;
    padding-left: 11px;
    padding-top: 10px;
    padding-bottom: 12px;
    border-radius: 10px;
    background-color: rgb(224, 224, 230);
    box-shadow: 0 0 7px 2px rgb(190, 190, 190);
    /* overflow-y: overlay; */
}

.title {
    cursor: pointer;
    color: rgb(46, 8, 95);
}

.box-title {
    font: 15px sans-serif;
    opacity: 0.85;
    margin-bottom: 8px;
}

.box-title:after {
    position: relative;
    right: 6px;
    content: "";
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
    width: 98%;
    padding-top: 5px;
    border-bottom: 1px solid rgb(91, 91, 92);
}

.invisible {
    visibility: hidden!important;
}

#progress-bar {
    position: fixed!important;
    z-index: 100!important;
    bottom: 92.1%!important;
    right: 1px!important;
}

.chip {
    font-weight: normal;
    cursor: pointer;
}

.application {
    background-color: rgba(136, 1, 160, 0.8);
    color: rgba(255, 255, 255, 0.9);
}

.modification {
    background-color: rgba(93, 241, 158, 0.8);
    color: rgba(0, 0, 0, 0.9);
}

.keyword {
    background-color: rgba(255, 208, 50, 0.8);
    color: rgba(0, 0, 0, 0.9);
}
