#login-container {
    width: 50%;
    margin-top: 70px;
    margin-left: 7%;
}

#password-card {
    background-color: rgb(229, 229, 235);
    box-shadow: 0 0 8px 2px rgb(197, 197, 197);
}

#password-response {
    font-size: 90%;
    text-align: center;
}

.success {
    color: rgba(17, 189, 40, 0.911);
}

.fail {
    color: rgba(245, 63, 50, 0.918);
}

#logout-button {
    margin-bottom: 25px;
}

#structures-button {
    margin-right: 10px;
}

#login-header {
    font-weight: 500;
    font-size: 30px;
    line-height: 1.5;
    letter-spacing: 0px;
}

a {
    text-decoration: none;
}

:host ::ng-deep .login-input .mat-mdc-form-field {
    margin: auto!important;
    width: 50%;
    display: block;
    margin-top: 15px!important;
}

#submit-button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
    font-size: 16px;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
::ng-deep .mat-card-header-text {
    margin: 0 auto!important;
    text-align: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border:none !important;
  -webkit-text-fill-color: inherit !important;
  -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0) inset;
  box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0) inset;
  transition: background-color 5000s ease-in-out 0s;
}

:host ::ng-deep .cdk-text-field-autofilled {
    background-color: rgba(255, 255, 255, 0)!important;
}