<div id="login-container">
    <button id="logout-button" (click)="logout()" mat-stroked-button color="warn">Logout</button>

    <mat-card id="password-card">
        <mat-card-header id="card-header">
            <mat-card-title id="login-header">Update your password</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="login-input">
                <mat-form-field appearance="outline">
                  <mat-label>Enter old password</mat-label>
                  <input matInput [formControl]="oldPassword" [type]="hideOld ? 'password' : 'text'" autocomplete="new-password">
                  <button mat-icon-button matSuffix (click)="hideOld = !hideOld" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideOld">
                    <mat-icon>{{hideOld ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                  <mat-error *ngIf="oldPassword.invalid">{{getOldPasswordError()}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Enter new password</mat-label>
                    <input matInput [formControl]="newPassword" [type]="hideNew ? 'password' : 'text'" autocomplete="new-password">
                    <button mat-icon-button matSuffix (click)="hideNew = !hideNew" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNew">
                        <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="newPassword.invalid">{{getNewPasswordError()}}</mat-error>
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button id="submit-button" class="structure-button" mat-raised-button color="primary">
                Submit
            </button>
        </mat-card-actions>
    </mat-card>
</div>

