<mat-card id="forgot-container">
    <mat-card-header id="card-header">
        <mat-card-title id="forgot-header">Password Reset</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <mat-card-subtitle id="header">{{header}}</mat-card-subtitle>
        <div class="email-input">
            <mat-form-field appearance="outline">
              <mat-label>Enter your email</mat-label>
              <input matInput placeholder="email@example.com" [formControl]="email" autocomplete="new-password">
              <mat-error *ngIf="email.invalid">{{getEmailError()}}</mat-error>
            </mat-form-field>
        </div>
    </mat-card-content>
    
    <mat-card-actions>
        <button id="submit-button" class="structure-button" (click)="submit()" [disabled]="!email.valid" mat-raised-button color="primary">
            Submit
        </button>
    </mat-card-actions>
</mat-card>
