<div class="header-container">
    <div id="header-title-container">
        <a id="header-title" href="/">
            Nanobase
        </a>
    </div>
    
    <div id="search-field-container">
        <mat-form-field [ngStyle]="{color:'#fff'}" id="search-field">
            <mat-label >Search structures</mat-label>
            <input matInput type="text" [(ngModel)]="search">
            <button mat-button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="search=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>

    <div id="sign-in-container">
        <h2 id="sign-in">
            Sign in
        </h2>
    </div>
</div>
